fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-jose
authlib
python-dotenv
jinja2
httpx
openai
itsdangerous
annotated-types
anyio
watchfiles
tqdm
qdrant-client